<%- include('../layouts/adminHeader'); %>  
<main> 
        <div class="container">
                    <div class="bg-white p-2" id="myDiv">
                        <button type="button" class="btn btn-primary btn-sm mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Add Category
                          </button>
                        <table class="table table-hover table-stripped-colum text-center shadow">
                            <thead>
                                <tr class="table-dark">
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let i=1 %>
                               <% for(data of category){ %>
                                <tr>
                                    <td class="text-center"><%= i++ %></td>
                                    <td class="text-center"><%= data.Name %></td>
                                    <td class="text-center">
                                        <% if(data.Status=='Active'){ %> <h6><span class="badge text-bg-success">Active</span></h6> <% } %>
                                         <% if(data.Status!='Active'){ %> <h6><span class="badge text-bg-danger">Blocked</span></h6> <% } %>
                                     </td>
                                    <td class="text-center">
                                        <% if(data.Status=='Active'){ %> <button class="btn btn-sm btn-danger" onclick="changeStatus('<%- data._id -%>','Blocked')"><i class="fa-solid fa-eye-slash" style="color: #ffffff;"></i></button> <% } %>
                                         <% if(data.Status!='Active'){ %> <button class="btn btn-sm btn-success" onclick="changeStatus('<%- data._id -%>','Active')"><i class="fa-solid fa-eye" style="color: #ffffff;"></i></button> <% } %>
                                     </td>
                                    
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
        </div>
        <!-- ..........Add Category Modal............ -->
        <div class="modal fade modal-md" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Category</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body p-5">
                      <form class="mx-md-2" id="addCategoryForm" action="#" method="">
                          <div class="d-flex flex-row align-items-center mb-2">
                            <div class="form-outline flex-fill mb-0">
                                <input type="text" name="Name" id="catName" class="form-control" placeholder="Category Name" oninput="validateCategoryName()" required />
                                <div class="error-message text-warning" id="name-error"></div>
                            </div>
                          </div>
                          <div class="d-flex mb-lg-4">
                              <button type="button" id="submitBtn" class="btn btn-primary">Add</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
<!-- ........................end add category modal.................. -->
</main>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<script>

function reloadDiv() {
    $("#myDiv").load(location.href + " #myDiv",function(){
        // Reinitialize DataTable after content reload
    $('.table').DataTable().destroy(); // Destroy existing DataTable
    $('.table').DataTable(); // Reinitialize DataTable
    });
    
  }

  $(document).ready(function(){
    // Function to handle form submission
    $("#submitBtn").click(function(){
        // Get form data
        var formData = $("#addCategoryForm").serialize();
        
        // AJAX request to submit form data
        $.ajax({
            type: "POST",
            url: '/admin/addCategory',
            data: formData,
            success: function(response){
                // Handle success response
                console.log(response);
                Toastify({
                    text: response.msg,
                    duration: 800,
                    close: false,
                    gravity: "bottom",
                    position: 'center',
                    style: {
                        background: "rgba(0, 0, 255, 0.7)", // Set the background color with opacity
                        color: "#fff",
                        borderRadius: "15px",
                    }
                }).showToast();
                // Optionally, close the modal after successful submission
                $("#staticBackdrop").modal("hide");
                // $("#myDiv").load(location.href + " #myDiv");
                reloadDiv()
            },
            error: function(xhr, status, error){
                // Handle error response
                console.error(xhr.responseText);
            }
        });
    });
});

function changeStatus(id,status){
    $.ajax({
            type: "POST",
            url: `/admin/CategoryStatus`,
            data: {
                categoryid:id,
                status,status
            },
            success: function(response){
                // Handle success response
                console.log(response);
                Toastify({
                    text: response.msg,
                    duration: 800,
                    close: false,
                    gravity: "bottom",
                    position: 'center',
                    style: {
                        background: "rgba(0, 0, 255, 0.7)", // Set the background color with opacity
                        color: "#fff",
                        borderRadius: "15px",
                    }
                }).showToast();
                // Optionally, close the modal after successful submission
                $("#staticBackdrop").modal("hide");
                // $("#myDiv").load(location.href + " #myDiv");
                reloadDiv()
            },
            error: function(xhr, status, error){
                // Handle error response
                console.error(xhr.responseText);
            }
        });
}
</script>



<script>
  function validateCategoryName() {
        const nameInput = document.getElementById('catName');
        const errorDiv = document.getElementById('name-error');
        const name = nameInput.value.trim(); // Remove leading and trailing spaces

        // Check if the name is empty
        if (name === '') {
            errorDiv.textContent = 'Category name cannot be empty';
            nameInput.classList.add('is-invalid');
        } else if (!/^[\w]+(?:[\s]+[\w]+)*$/.test(name)) {
            // Check if the name contains only one space between words
            errorDiv.textContent = 'Only one space is allowed between words';
            nameInput.classList.add('is-invalid');
        } else {
            errorDiv.textContent = ''; // Clear the error message
            nameInput.classList.remove('is-invalid');
        }
    }
</script>
        
        
    <!-- <script>
        $(document).ready(function () {
          $('.table').DataTable();
        });
      </script> -->
<%- include('../layouts/adminFooter'); %>